<ul class="list-group rounded-0">
    {% assign articles = site.posts | where: 'fixtop',true  %}
    {% assign defaults = site.posts | where: 'fixtop',false %}
    {% assign allArticles = articles | concat: defaults %}
    {% for post in allArticles %}
    <li class="list-group-item list-group-item-action p-1">
        {% assign className = 'primary' %}
        {% assign fwbold = ''%}
        {% if page.title == post.title %}
            {% assign className = 'danger' %}
        {% endif %}
        {% if post.fixtop == true %}
            {% assign fwbold='fw-bold text-success' %}
        {% endif %}
        <a class="post-link {{ fwbold }}" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {% if post.fixtop == true %}
        <img src="/assets/piggy.svg" class="float-end" title="该课题已置顶">
        {% endif %}
        <span class="badge text-bg-{{ className }} rounded-0">{{ post.date | date: "%m/%d/%y" }}</span>
    </li>
    {% endfor %}
</ul>
{{ site.posts.count }}