<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
    {% include head.html %}
    <body class="p-1">
        <div class="container-fluid p-0 m-0">
            {% include top.html %}
            <div class="row mt-1 p-0 m-0">
                <div class="col-2 p-0 m-0">
                    {% include articles.html %}
                </div>
                <div class="col">
                    <ul>
                        <li>
                            The Climate Prediction Center's (CPC) 
                        </li>
                        <li>National Centers for Environmental Information</li>
                        <li>Global Forecast System</li>
                        <li>World Meteorological Organization</li>
                        <li>National Centers for Environmental Prediction</li>
                        <li>European Centre for Medium-Range Weather Forecasts</li>
                    </ul> 
                    <table class="table table-bordered table-hover">                
                        <tr>
                            <td class="bg-light">
                                <img src="/assets/noaa_logo.jpg" width="300px" height="100px">
                                <img src="/assets/ncei.jpg" width="300px" height="100px">
                                <img src="/assets/gfs4c.png" height="100px">
                                <img src="/assets/wmo_logo.jpg" height="100px">
                                <img src="/assets/ncep_logo.gif"  height="100px">
                                <img src="/assets/ECMWF_logo.svg" height="100px">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- {% for temp in post.categories %}
      <h3> {{ temp }}</h3>
      {% endfor %} -->
        {% include footer.html %}
      {% include script.html %}
    </body>
</html>
