<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
    {% include head.html %}
    <body class="p-1">
        <div class="container-fluid p-0 m-0">
            {% include top.html %}
            <div class="row mt-1 p-0 m-0">
                <div class="col-2 p-0 m-0">
                    {% include articles.html %}
                </div>
                <div class="col">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <td>序号</td>
                            <td>LOGO</td>
                            <td>机构名称</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <img src="/assets/noaa_logo.jpg" width="300px">
                            </td>
                            <td>The Climate Prediction Center's (CPC) </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <img src="/assets/ncei.jpg" width="300px">
                            </td>
                            <td>National Centers for Environmental Information</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <img src="/assets/gfs4c.png" width="100px">
                            </td>
                            <td>Global Forecast System</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <img src="/assets/wmo_logo.jpg">
                            </td>
                            <td>World Meteorological Organization</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <img src="/assets/ncep_logo.gif" width="100px">
                            </td>
                            <td>National Centers for Environmental Prediction</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td class="bg-secondary"><img src="/assets/ECMWF_logo.svg" class="m-2"></td>
                            <td>European Centre for Medium-Range Weather Forecasts</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- {% for temp in post.categories %}
      <h3> {{ temp }}</h3>
      {% endfor %} -->
        {% include footer.html %}
      {% include script.html %}
    </body>
</html>
