<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}

<body class="pt-3">
  <div class="container-fluid">
    {% include top.html %}
    <div class="row mt-3">
      <div class="col-2">
        <ul class="list-group rounded-0">
          {%- for post in site.posts -%}
          <li class="list-group-item list-group-item-action p-1"><a class="post-link"
              href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> <span class="badge text-bg-primary rounded-1">{{ post.date | date: "%m/%d/%Y" }}</span></li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="col">

      </div>
    </div>
  </div>

  {%- include footer.html -%}
  {% include script.html %}
</body>

</html>