<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}

<body class="pt-3">
  <div class="container-fluid">
    {% include top.html %}
    <div class="row mt-1 p-0 m-0">
      <div class="col-2 p-0 m-0">
        {% include articles.html %}
      </div>
      <div class="col bg-light p-3 m-0 ms-2">
        <h3>
          {{ page.title }}
          {% if page.fixtop == true %}
          <img src="/assets/piggy.svg" class="fw-bold text-danger" style="width: 22px;" title="该课题已置顶">
          {% endif %}
        </h3>
        {{ page.date | date: "%Y-%m-%d %H:%M" }}
        {% if page.fixtop == true %}
        <span class="badge text-bg-success rounded-0">置顶</span>
        {% endif %}
        <hr>
        <div class="">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  </div>
  {%- include footer.html -%}
  {% include script.html %}
</body>

</html>


<!-- layout: default -->
<!-- <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  ---
  ---
    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article> 
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header> -->